:root {
    --eggshell: #DDA;
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --maroon: rgb(126, 31, 7);
    --nightmodeblue: #4fb8fe;
    --nightmodeblack: #1e1e1e;
    --nightmodepurple: rgb(114, 8, 146);
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}


/*Color Scheme for light and dark themes*/

.light-theme {
    --bg: var(var(--eggshell));
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --navBarActiveColor: var(--maroon);
    --iconColor: var(--white);
}

.dark-theme {
    --bg: var(--nightmodeblack);
    --fontColor: var(--nightmodeblue);
    --btnBg: var(--white);
    --btnFontColor: var(--nightmodeblack);
    --navBarActiveColor: var(--nightmodepurple);
    --iconColor: var(--nightmodeblue);
}


/*End color scheme*/


/* Toggler */

* {
    box-sizing: border-box;
}

.toggle-box {
    position: fixed;
    bottom: 10px;
    right: 100px;
    transition: background 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label {
    background-color: grey;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
    background-color: black;
}


/*Toggler End */


/* Button Start */

.btn {
    position: fixed;
    bottom: 10px;
    right: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.btn:focus {
    outline-style: none;
}

.btn:hover {
    background-color: gray;
}

.btnToDark {
    position: fixed;
    bottom: 10px;
    right: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.btnToDark:focus {
    outline-style: none;
}

.btnToDark:hover {
    background-color: gray;
}

.btnToLight {
    position: fixed;
    bottom: 10px;
    right: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.btnToLight:focus {
    outline-style: none;
}

.btnToLight:hover {
    background-color: gray;
}


/*Button End */


/*Icons Start */

.fa-moon {
    color: black;
}

.fa-sun {
    color: honeydew;
}

.fa-book {
    color: var(--iconColor);
}

.fa-home {
    color: var(--iconColor);
}

.fa-phone {
    color: var(--iconColor);
}

.fa-archive {
    color: var(--iconColor);
}

.fa-user {
    color: var(--iconColor);
}


/* Icons End */


/* Nav Bar starts here*/

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    /*background-color: rgb(126, 31, 7);*/
    background-color: var(--navBarActiveColor);
    color: white;
}


/*Nav Bar ends here*/