:root {
    --eggshell: #DDA;
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --maroon: rgb(126, 31, 7);
    --nightmodeblue: #4fb8fe;
    --nightmodeblack: #1e1e1e;
    --nightmodepurple: rgb(114, 8, 146);
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
    background-image: var(--bgImg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.textbox {
    background: var(--bg);
    border-radius: 10px;
    opacity: .8;
}

.photo_credits {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

img {
    opacity: 1.0;
}

.opaque-image {
    opacity: 1;
}


/*Contact Info Obfuscation*/

span.tumnus {
    unicode-bidi: bidi-override;
    direction: rtl
}

span.tumnus.bitter:before {
    content: "moc.liam"
}

span.tumnus.bitter:after {
    content: "@ronesallivnire :liamE"
}

span.tumnus.fruity:before {
    content: "2363 722 "
}

span.tumnus.fruity:after {
    content: " 1+ :rebmun enohP"
}


/*End Contact Info*/


/*#msg {
    font-family: monospace;
}*/


/*Color Scheme for light and dark themes*/

.light-theme {
    --bg: var(var(--eggshell));
    --bgImg: url(../images/osuKelley40.jpg);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --navBarActiveColor: var(--maroon);
    --iconColor: var(--white);
}

.dark-theme {
    --bg: var(--nightmodeblack);
    --bgImg: url(../images/osuAtNight.jpg);
    --fontColor: var(--nightmodeblue);
    --btnBg: var(--white);
    --btnFontColor: var(--nightmodeblack);
    --navBarActiveColor: var(--nightmodepurple);
    --iconColor: var(--nightmodeblue);
}


/*End color scheme*/


/* Toggler */

* {
    box-sizing: border-box;
}

.toggle-box {
    position: fixed;
    bottom: 10px;
    right: 100px;
    transition: background 0.2s linear;
    z-index: 3;
}

.checkbox {
    opacity: 0;
    position: absolute;
    z-index: 5;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    z-index: 4;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.label .chk {
    padding: 0px;
}

.checkbox:checked+.label {
    background-color: grey;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
    background-color: black;
}


/*Toggler End */


/*Icons Start */

.fa-moon {
    color: black;
}

.fa-sun {
    color: honeydew;
}

.fa-book {
    color: var(--iconColor);
}

.fa-home {
    color: var(--iconColor);
}

.fa-phone {
    color: var(--iconColor);
}

.fa-archive {
    color: var(--iconColor);
}

.fa-user {
    color: var(--iconColor);
}

.fa-linkedin {
    margin: 5px
}

.fa-github-square {
    margin: 5px
}


/* Icons End */


/* Nav Bar starts here*/

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    /*background-color: rgb(126, 31, 7);*/
    background-color: var(--navBarActiveColor);
    color: white;
}


/*Nav Bar ends here*/


/*Carousel Start*/

#carousel {
    overflow: hidden;
}

#carousel figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s carousel infinite;
}

#carousel figure img {
    width: 20%;
    float: left;
}

@keyframes carousel {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


/*Carousel End*/

.carousel-container {
    width: 30%;
    margin: auto;
    overflow: hi
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}